/* Estilos generales para la aplicación */
.App {
  text-align: center;
  margin: 0 auto; /* Esto centra el contenido y deja espacio a los lados */
  max-width: 1200px; /* Ajusta el ancho máximo del contenido */
  padding: 0 20px; /* Añade espacio adicional a los lados dentro del contenedor */
  box-sizing: border-box;
}

/* Estilos generales para la cabecera */
.App-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fffcf8af;
  padding: 10px 20px;
  color: orange;
  width: 100%;
  box-sizing: border-box;
}

/* Contenedor para el título y el menú */
.App-header-content {
  display: flex;
  align-items: center;
  width: 100%;
}

/* Estilos para el título */
.App-title {
  font-size: 2.5rem;
  margin-right: 40px;
}

/* Estilos para el menú */
.App-menu {
  margin-right: 40px ;
  text-align: right;
  margin-left: auto;
}

/* Estilos para la lista del menú */
.App-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 15px;
}

/* Estilos para los elementos del menú */
.App-menu li {
  margin-right: 10px;
}

/* Estilos para los enlaces del menú */
.App-menu a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
}

